{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset-password.css' %}">
    <link rel="icon" href="{% static '/assets/img/logo_up.png' %}" type="image/x-icon">
</head>
<body>
    <div class="reset-container">
        <div class="reset-box">
            <h2>Restablecer Contraseña</h2>
            <p>Introduce tu correo electrónico para restablecer tu contraseña.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="input-box">
                    <label for="correo">EMAIL:</label>
                    <input type="email" id="correo" name="resetEmail" placeholder="sucorreo@gmail.com" required autocomplete="off">
                </div>
                <button type="submit">Enviar</button>
                <button onclick="window.location.href='/login/'">Regresar</button>
            </form>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div>
             </div>
    <footer>
        <p>&copy; 2024 Derechos reservados TRIBIQUE TECH BY: INGENIEROS IV AÑO 2024.</p>
    </footer>
    <script src="{% static 'assets/js/reset-password.js' %}" defer></script>
</body>
</html>
