{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Expediente</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/expedientes/crear_expendiente.css' %}">
    <link rel="icon" href="{% static 'assets/img/logo_up.png' %}" type="image/x-icon">
    <script src="{% static 'fecha.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="{% static 'assets/img/logo_up.png' %}" alt="logo up" width="100px" loop>
            <div class="titulo-principal">
                <h1>Expedientes</h1>
            </div>
            <div style="width: 100px;"></div>
        </div>
        <div class="menu-container">
            <nav class="nav-title">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">Pacientes</a>
                        <ul class="submenu">
                            <li><a href="/pacientes/ver/">Ver Pacientes</a></li>
                            <li><a href="/pacientes/agregar/">Agregar Paciente</a></li>
                            <li><a href="/pacientes/modificar/">Modificar Paciente</a></li>
                            <li><a href="/pacientes/eliminar/">Eliminar Paciente</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">Citas</a>
                        <ul class="submenu">
                            <li><a href="/citas/ver/">Ver Citas</a></li>
                            <li><a href="/citas/programar/">Programar Cita</a></li>
                            <li><a href="/citas/reprogramar/">Reprogramar cita</a></li>
                            <li><a href="/citas/cancelar/">Cancelar Cita</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">Consultorios</a>
                        <ul class="submenu">
                            <li><a href="/ver_consultorios/">Ver Consultorios</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">Reportes</a>
                        <ul class="submenu">
                            <li><a href="/reportes/generar/">Generar Reporte</a></li>
                            <li><a href="/reportes/enviar/">Enviar Reporte</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">Expedientes</a>
                        <ul class="submenu">
                            <li><a href="/expedientes/ver/">Ver Expedientes</a></li>
                            <li><a href="/expedientes/crear/">Crear Expediente</a></li>
                            <li><a href="/expedientes/modificar/">Modificar Expediente</a></li>
                            <li><a href="/expedientes/eliminar/">Eliminar Expediente</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/volver/">Volver</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="table-container">
            <h2>Crear Expediente</h2>
            <button type="submit">Generar</button>
                <p id="errorMessage" style="color: red; display: none;">Expediente no encontrado.</p>
        </div>
    </div>
    <script src="{% static 'assets/js/modal.js' %}"></script>
    <footer>
        <p>&copy; 2024 Derechos reservados TRIBIQUE TECH BY: INGENIEROS IV AÑO 2024.</p>
    </footer>
</body>
</html>